.personal-info__form {
  width: 480px;
}

.personal-info__title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin-bottom: 3rem;
  text-align: center;
}

.personal-info__button {
  display: block;
  width: 150px;
  margin-left: auto;
}
