@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
  /* colors */
  --color-white: #ffffff;
  --color-dark: #131313;
  --color-btn-bg-primary: #5d95fb;
  --color-btn-text-primary: #ffffff;
  --color-gray: #e1e1e1;
  --color-link: #5b5bff;

  /* font families  */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-serif: "Roboto Slab", serif;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 2rem;

  /* font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* radius */
  --border-radius-base: 4px;
}

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  color: var(--color-dark);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:focus {
  outline-color: var(--color-dark);
  outline-style: dashed;
  outline-width: 4px;
  outline-offset: 4px;
}

/* ======== utilities ========= */
.align-content-center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.mb-4 {
  margin-bottom: 1rem;
}
/* ============================ */

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  height: 52px;
  min-width: 150px;
  padding: 1rem 0;
  background-color: var(--color-btn-bg-primary);
  color: var(--color-btn-text-primary);
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  border: none;
  border-radius: var(--border-radius-base);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  filter: brightness(85%);
}

/* ========== slide1 ==========  */
.buttons-container {
  gap: 1.5rem;
}

.order-3 {
  order: 3;
}
/* ========================== */
