.select__label {
  display: block;
  margin-bottom: 1rem;
}

.select {
  height: 52px;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border-radius: var(--border-radius-base);
  border-color: var(--color-gray-200);
}

.select:focus {
  outline-color: initial;
  outline-width: initial;
  outline-offset: initial;
  outline-style: solid;
}

.select__container {
  width: 480px;
}
