.slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide--dark {
  background: var(--color-dark);
  color: var(--color-white);
}

.slide__title {
  font-size: var(--font-size-huge);
  max-width: 850px;
}

.slide__list {
  list-style: initial;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.slide__list li {
  margin-bottom: 1rem;
}

.slide__list li:last-child {
  margin-bottom: 0;
}

.slide__text {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-bold);
  max-width: 1200px;
}
