.flex-column {
  flex-direction: column;
}

/* ============== margins ============== */
.mb-4 {
  margin-bottom: 1rem;
}

.mt-6 {
  margin-top: 2rem;
}
/* ============== end margins ============== */

/* ============== text ============== */
.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-green {
  color: var(--color-green);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-blue {
  color: var(--color-blue);
}

.text-red {
  color: var(--color-red);
}
/* ============== end text ============== */

.hidden {
  visibility: hidden;
}
