.align-content-center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-green {
  color: var(--color-green);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-blue {
  color: var(--color-blue);
}

.text-red {
  color: var(--color-red);
}
