.flex-column {
  flex-direction: column;
}

/* ============== margins ============== */
.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}
/* ============== end margins ============== */

/* ============== text ============== */
.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-green {
  color: var(--color-green);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-blue {
  color: var(--color-blue);
}

.text-red {
  color: var(--color-red);
}

.text-line-through {
  text-decoration: line-through;
}
/* ============== end text ============== */

.visually-hidden {
  visibility: hidden;
}

.error {
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
  color: var(--color-red);
}
