.types-of-impairments__title {
  font-size: var(--font-size-huge);
}

.types-of-impairments__list {
  margin-top: 3rem;
  padding-left: 3rem;
  list-style: initial;
  font-size: var(--font-size-large);
}

.types-of-impairments__list li {
  margin-bottom: 0.5rem;
}
